body {
background-color:hsl(0, 100%, 100%);
font-family: Archivo;
text-align: center;
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container {
  display:flex;
  justify-items: space-between;
  margin: 2vw;
  padding: 0;
  font-size: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.card {
  margin: 2vw;
  padding: 5;
  width: 300px;
  font-size: 10px;
  border: solid;
  border-radius: 10px;
}

.collection {
  margin:5vw;
}

img {
  width: 15vw;
}

button{
  width: 85px;
  padding: 5px;
  border: solid 2px;
}

.purchase{
  padding: 10px;
  width: 100px;
}

@media screen and (max-width: 700px){
  .card{
    width: 100%;
  }
  .container{
    flex-direction: column;
  }
}