
body {
font-family: Archivo;
text-align: center;
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container {
 display: flex;
 justify-items: space-between;
 margin: 2vw;
 padding: 0;
 font-size: 20px;
 flex-wrap: wrap;
 justify-content: space-between;
 }


.cart {
 display: flex;
 justify-items: space-between;
 margin: 2vw;
 padding: 0;
 font-size: 20px;
 flex-wrap: wrap;
 justify-content: space-between;
}


h2 {
  text-align: center;
  font-size: 40px;
}

h3 {
  text-align: center;
  font-size: 30px;
}

h4 {
  text-align: center;
  font-size: 20px;
}



img {
 width: 15vw;
}


button{
 width: 100px;
 padding: 7px;
 border: solid 3px;
}


@media screen and (max-width: 700px){
 .card{
   width: 100%;
 }
 .container{
   flex-direction: column;
 }
}

:root {
  --white: #ffffff;
  --grey: #3a3a3a;
  /* Intentions */
  --primary: var(--white);
  --secondary: var(--grey);
}

.light {
  --primary: var(--white);
}

.dark {
  --primary: var(--grey);
}

.hero {
  background-color: var(--primary);
}

.main {
  background-color: var(--secondary);
  height: 90vh;
}
